.ng-valid[required], .ng-valid.required, .ng-valid {
  border-left: 5px solid #42A948;
}

.hasError, .ng-invalid {
  border-left: 5px solid #a94442;
}

.ng-pristine {
  border: none;
  border-left: 5px solid orange;
}
